body{
    background-color: #F6F8F9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
}

/* Inizio sezione titolo */

#header-logo {
    background-color: #FFF;
    height: 90px;
    vertical-align: middle;
}

h1{
    display: inline;
    vertical-align: middle;
    font-size: 50px;
}

#logo{
    padding: 20px 0px;
    vertical-align: middle;
}

/* Fine sezione titolo */

/* Inizio sezione corpo */

    /* Inizio sezione button */

#button-add{
    background-color: #FFF;
    height: 50px;
    margin: 50px 10% 0px 10% ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#button-task{
    margin-left: 50px;
    margin-top: 20px;
    background-color: #45ABEA;
    border-radius: 5px;
    border-color: #45ABEA;
    
}

#button-task span{
    color: #FFF;
}

#button-section{
    background-color: #FFF;
    border-radius: 5px;
}

#button-section span{
    color: #D3D8DC;
}

    /* Fine sezione button */

    /* Inizio sezione container */

#container{
    background-color: #FFF;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
    padding: 20px 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

h2::before{
    content: '\25BE';
}

.item{
    border-radius: 20PX;
    font-size: 0.5em;
    padding: 5px;
    color: white;
}

.editorial{
    background-color: #45ABEA;
    
}

.q1{
    background-color: #9C72E4;
}

.recruiting{
    background-color: #64C0A9;
}

.mobile{
    background-color: #F29E33;
}

.website{
    background-color: #D863A1;
}

.sales{
    background-color: #B0C926;
}

.done::before{
    border-radius: 100%;
    border: 1px solid green;
    content: "\2713";
    height: 16px;
    width: 16px;
    display: inline-block;
    color: green;
    font-size: 12px;
    text-align: center;
}

.not-done::before{
    border-radius: 100%;
    border: 1px solid red;
    content: "\00D7";
    height: 16px;
    width: 16px;
    display: inline-block;
    color: red;
    font-size: 15px;
    text-align: center;
}

#container>div>p{
    font-size: 1.2em;
}

    /* Fine sezione container */
    
/* Fine sezione corpo */